body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
a {
    text-decoration: none;
}
.menu_bar{
    height: 54px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.menu a{
    color: #73748c;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
}

.menu li:hover a{
    color: #2a27e9;
}
.menu2{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 0px 110px;  
}
.icons{
    display: flex;
    justify-content: space-between;
}
.input{
    border: 0;
    cursor: text;
    outline: none;
    height: 30px;
    width: 90%;
}
.search{
    border: 1px solid#2a27e9;
    margin: 25px;
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    height: 30px;
}
.feature-dp{
    display: none;
    position: absolute;
    height: 170px;
    width: 260px;
    margin-left: -50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.feature-dp ul li{
    position: relative;
    float: left;
}
.menu li:hover .feature-dp{
    display: block;
}
.content1{
    display: none;
    position: absolute;
    margin-left: 150px;
    margin-top: -30px;
    height: 200px;
    width: 260px;
    background-color: white;
    border-radius: 5px;
}
.content2{
    display: none;
    position: absolute;
    margin-left: 150px;
    margin-top: -30px;
    height: 200px;
    width: 260px;
    background-color: white;
    border-radius: 5px;
}
.content3{
    display: none;
    position: absolute;
    margin-left: 150px;
    margin-top: -30px;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
}
.content4{
    display: none;
    position: absolute;
    margin-left: 150px;
    margin-top: -30px;
    height: 100px;
    width: 260px;
    background-color: white;
    border-radius: 5px;
}
.feature-dp li:hover .content1{
    display: block;
}
.feature-dp li:hover .content2{
    display: block;
}
.feature-dp li:hover .content3{
    display: block;
}
.feature-dp li:hover .content4{
    display: block;
}

ul.menu li {
    float: left;
}
.menu3{
    height: 65px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}
.menu3ic{
    background-color: #ffffff;
    height: 53px;
    width: 70%;
    align-items: end;
    justify-content: space-around;
}
.menu3 .comp:hover a{
    color: #2a27e9;
}
.menu3 .comp:hover i{
    color: #2a27e9;
}
.menu3 .phones:hover a{
    color: #2a27e9;
}
.menu3 .phones:hover i{
    color: #2a27e9;
}
.menu3 .watches:hover a{
    color: #2a27e9;
}
.menu3 .watches:hover i{
    color: #2a27e9;
}
.menu3 .tv:hover a{
    color: #2a27e9;
}
.menu3 .tv:hover i{
    color: #2a27e9;
}
.menu3 .tablet:hover a{
    color: #2a27e9;
}
.menu3 .tablet:hover i{
    color: #2a27e9;
}
.menu3 .gaming:hover a{
    color: #2a27e9;
}
.menu3 .gaming:hover i{
    color: #2a27e9;
}
.menu3 .viewall:hover a{
    color: #2a27e9;
}
.menu3 .viewall:hover i{
    color: #2a27e9;
}
.comp,.phones,.watches,.tv,.tablet,.gaming,.viewall{
    position: relative;
}
.comp:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}

.comp:hover:after{
    width: 100%;
}
.phones:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}
.phones:hover:after{
    width: 100%;
}
.watches:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}

.watches:hover:after{
    width: 100%;
}
.tv:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}

.tv:hover:after{
    width: 100%;
}
.tablet:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}

.tablet:hover:after{
    width: 100%;
}
.gaming:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}

.gaming:hover:after{
    width: 100%;
}
.viewall:after{
    content: "";
    position: absolute;
    background-color: #2a27e9;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.150s;
}

.viewall:hover:after{
    width: 100%;
}
.comp-content, .phones-content,.watches-content,.tv-content,.tablet-content,.gaming-content{
    display: none;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 2002px;
    height: 350px;
    margin-top: 50px;
    top: 0px;
    left: -320px;
    background-color: rgb(255, 255, 255);
}
.menu3ic .comp:hover .comp-content{
    display: flex;
}
.menu3ic .phones:hover .phones-content{
    display: flex;
}
.menu3ic .watches:hover .watches-content{
    display: flex;
}
.menu3ic .tv:hover .tv-content{
    display: flex;
}
.menu3ic .tablet:hover .tablet-content{
    display: flex;
}
.menu3ic .gaming:hover .gaming-content{
    display: flex;
}
.comp-left p{
    font-size: 20px;
    font-weight: bold;
}
.phones-left p{
    font-size: 20px;
    font-weight: bold;
}
.watches-left p{
    font-size: 20px;
    font-weight: bold;
}
.tv-left p{
    font-size: 20px;
    font-weight: bold;
}
.tablet-left p{
    font-size: 20px;
    font-weight: bold;
}
.gaming-left p{
    font-size: 20px;
    font-weight: bold;
}
.findout{
    border-radius: 8px;
    background-color: #2a27e9;
    cursor: pointer;
    width: 140px;
    height: 45px;
}

.comp-left p:hover{
    color: #2a27e9;
}
.phones-left p:hover{
    color: #2a27e9;
}
.watches-left p:hover{
    color: #2a27e9;
}
.tv-left p:hover{
    color: #2a27e9;
}
.tablet-left p:hover{
    color: #2a27e9;
}
.gaming-left p:hover{
    color: #2a27e9;
}
.button .findout:hover{
    background-color: #1b1994;
}
.content{
    text-align: center;
}
.sidemenubutton{
    display: none;
}
.sidemenu{
    display: none;
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: white;
    top: 0;
    right: 0;
    align-items: center;
    transition: all 300ms ease-in;
}
.sidemenu ul{
    width: 100%;
}
.sidemenu ul li{
    list-style-type: none;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.sidemenu ul li a:hover{
    color: #2a27e9;
}
.goster{
    display: flex;
}
@media screen and (max-width: 1100px){
    .menu3{
        display: none;
    }
    .sidemenubutton{
        display: flex;
    }
    .text1{
        display: none;
    }
    .input{
        width: 50%;
    }
    .icons{
        display: none;
    }
}
@media screen and (max-width: 840px){
    .menu{
        display: none;
    }
}